<?xml version="1.0" encoding="UTF-8" ?>
<!-- Mybatis홈페이지 - 시작하기, 매핑된 SQL 구문 살펴보기 복사 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todostudy.todolist.repository.UserMapper">

    <!--  Join용도의 Map  -->
    <resultMap id="userMap" type="com.todostudy.todolist.entity.User">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
    </resultMap>

    <insert id="saveUser" parameterType="com.todostudy.todolist.entity.User">
        insert into
            user_tb
        values(0, #{email}, #{password}, #{name})
    </insert>

    <select id="findUser" parameterType="string" resultMap="userMap">
        select
            user_id,
            email,
            password,
            name
        from
            user_tb
        where
            ${key} = #{value}
    </select>

    <!--  중복확인 다른방법 (count)  -->
    <select id="getUserCountByEmail" parameterType="string" resultMap="userMap">
        select
            count(*)
        from
            user_tb
        where
            email = #{email}
    </select>

</mapper>